.styleForm {
    width: 90%;
    margin: auto;
    font-size: 20px;
    text-align: right;
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cropArea {
    margin: auto !important;
    background: transparent !important;
}

.styleForm tr td select, .styleForm tr td input {
    height: 30px;
}

.stylesTable img {
    width: 50px;
}

.stylesTable thead {
    background: #0B55A5;
    color: white;
}

.addForm {
    box-shadow: 2px 2px 10px black;
    width: 50%;
    margin: 50px auto auto;
    text-align: center;
    padding: 30px 0;
}

.addForm button {
    font-size: 25px;
    padding: 5px 25px;
}

.searchBox {
    background: orange;
    color: white;
    font-weight: bold;
    padding: 25px;
    font-size: 22px;
}

.searchBox input {
    color: black;
}

.fabricTable {
    background: white;
    color: black;
}

.fabricTable td {
    padding: 5px;
}

.addFabric button {
    font-size: 25px;
}

.fabricEntryTitle {
    background-color: rgba(0, 0, 0, 0.6);
}

.formTitle {
    margin-top: 0;
    padding-top: 0;
}