<div class="homePage">
    <div class="title">
        CostIt
        <br>
        <h2>
        Streamline your costing process.
        </h2>
        <div class="about">
            <h3 class="aboutText">
                Our innovative software delivers an intuitive  interface with comparison tools and real-time market updates to provide  the visibility, flexibility and efficiency you need to get your apparel from concept to consumer. 
            </h3>
            <a href="#/form" class="homeButton">Add A Style</a>
            <a href="#/articles" class="homeButton">View Styles</a>
            <a href="#/fabric" class="homeButton">View/Add Fabrics</a>


        </div>
        <div class="solution">
            <div class="solutionType">
                CostIt was created in an effort to streamline the apparel costing process. CostIt not only allows customers to save their product history into a database, it makes the costing experience seamless, more accurate and simpler without sacrificing flexibility.
            </div>
        </div>


    </div>


</div>
