<div class="fabricEntryPage">
    <div class="loading" ng-show="loading">
        <img src="images/loading.gif"/>
    </div>

    <h1 class="fabricEntryTitle">Fabric Entry</h1>

    <div class="text-center searchBox">
        Search:
        <input type="text" ng-model="searchText"/>
    </div>
    <br>

    <div class="addFabric">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
            Add A Fabric
        </button>

        <!-- Modal -->
        <div class="modal fade addFabricModal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <form class="fabricModalForm">
                            Fabric Code:
                            <input type="text" name="Fabric Code" ng-model="fabricCode">

                            <p class="error" ng-show="showFabricCodeError">Please Enter A Fabric Code!</p>
                            <br>
                            <br> Mill:
                            <input type="text" name="Mill" ng-model="mill">
                            <br>
                            <br> Article:
                            <input type="text" name="Article" ng-model="article">
                            <br>
                            <br> Content:
                            <input type="text" name="Content" ng-model="content">
                            <br>
                            <br> Fabric Width:
                            <input type="text" name="Fabric Width" ng-model="fabricWidth">
                            <br>
                            <br> Cuttable Width:
                            <input type="text" name="Cuttable Width" ng-model="cuttableWidth">
                            <br>
                            <br> Weight:
                            <input type="text" name="Weight" ng-model="weight">
                            <select ng-model="weightUnit" class="blackFont">
                                <option value="select">...</option>
                                <option value="OZSY">OZ/SY</option>
                                <option value="CIF HK">G/M2</option>
                            </select>
                            <br>
                            <br> Price:
                            <input type="text" name="price" ng-model="price">
                            <select ng-model="priceType" class="blackFont">
                                <option value="select">...</option>
                                <option value="FOB">FOB</option>
                                <option value="CIF HK">CIF HK</option>
                            </select>


                        </form>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Save" class="btn btn-success btn-large"
                               ng-click="submitButton(fabric.$id)">
                        <button class="btn btn-warning" ng-click="clearForm()">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table stylesTable fabricTable">
        <thead>
        <th>Fabric Code</th>
        <th>Mill</th>
        <th>Article</th>
        <th>Content</th>
        <th>Delete/Edit</th>
        </thead>
        <tbody>
        <tr ng-repeat="fabric in database  | filter: searchText">
            <td>{{fabric.code}}</td>
            <td>{{fabric.mill}}</td>
            <td>{{fabric.article}}</td>
            <td>{{fabric.content}}</td>
            <td><i class="fa fa-trash pointer" ng-click="deleteFabric(fabric.$id)"></i>
                <i class="fa fa-pencil-square-o pointer" data-toggle="modal" data-target="#myModal"
                   ng-click="editFabric(fabric.$id)"></i></td>
        </tr>
        </tbody>
    </table>
</div>
