
<div class="text-center">
    Search: <input type="text" ng-model="searchText"/>
</div>

<table class="table table-hover stylesTable">
    <thead>
    <th>Fabric Code</th>
    <th>Mill</th> 
    <th>Article</th>        
    <th>Content</th>
    </thead>
    <tbody>
    <tr ng-repeat="fabric in database  | filter: searchText" ng-click="rowClicked(article.styleNumber, $index)">
        <td>{{fabric.code}}</td>
        <td>{{fabric.mill}}</td>
        <td>{{fabric.article}}</td>
        <td>{{fabric.content}}</td>
    </tr>
    </tbody>
</table>