<div class="homePage">
    <div class="title">
        CostIt
        <br>
        <h2>
        Streamline your costing process.
        </h2>
        <div class="about">
            <h3>
                Our innovative software delivers an intuitive  interface <br> with comparison tools and real-time market updates to provide  the visibility, flexibility <br> and efficiency you need to get from concept to consumer. </h3>
            <div class="btn arrows">
                <a href="#/form" class="btn btn-success homeButton">Add style</a>
                <a href="#/articles" class="btn btn-info homeButton">Styles list</a>
                <a href="#/fabric" class="btn btn-warning homeButton">Fabric list</a>
            </div>

        </div>
        <div class="solution">
            CostIt was created in an effort to move the apparel costing process away from spreadsheets and online.
            <br> CostIt not only allows customers to save their product history into a database, it makes the costing experience seamless, <br>more accurate and simpler without sacrificing the flexibility that has drawn the industry to spreadsheet documents in the past.
        </div>
        
                <div class="directions">
            Please navigate to the "Form" tab to add a new style.
            <br> Please navigate to the "Styles" tab to view existing styles. <br>Please navigate to "Fabrics" to view, add, edit or delete fabrics.
        </div>

    </div>


</div>
