<div class="homePage">
    <div class="title">
        CostIt
        <br>
        <h2>
        Streamline your costing process.
        </h2>
        <div class="about">
            <h3>
                Our innovative software delivers an intuitive  interface <br> with comparison tools and real-time market updates to provide  the visibility, flexibility <br> and efficiency you need to get from concept to consumer. </h3>
            <div class="btn arrows">
                <h3>  
                Find your solution  <i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i>
                </h3>
            </div>

        </div>
    </div>


</div>
