<div class="indivStyleSeason">
    {{article.season}} <br>
    {{article.collection}} 
    {{article.category}}
</div>

<div class="indivStyleTitle">

    {{article.styleNumber}} - {{article.fabric.code}}

</div>

<div class="indivStylePage">

    {{article.myImage}} {{article.styleColor}}

    <br>
    <br> Fabric Details
    <br> Mill: {{article.fabric.mill}}
    <br> Article: {{article.fabric.article}}
    <br> Content: {{article.fabric.content}}
    <br>

</div>

<div>

    <table class="table table-hover stylesTable">
    <thead>
        <th>FOB</th>
        <th>Wholesale</th>
        <th>MSRP</th>
        <th>Wholesale Margin</th>
        <th>Retail Margin</th>
    </thead>
    <tbody>
        <tr class="pointer">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
    
</div>